<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>购物车示例</title>
		<link rel="stylesheet" type="text/css" href="style.css" />
	</head>
	<body>
		<div id="app" v-cloak>
		        <template v-if="list.length">
		            <table>
		                <tbody v-for="(items,tableIndex) in list">
		                    <tr>
		                        <th><input type="checkbox" @click="swapTableChecked($event,items)"
		                                :checked="isTableAllChecked(items)">{{items.name}}</th>
		                        <th>商品名称</th>
		                        <th>商品单价</th>
		                        <th>商品数量</th>
		                        <th>操作</th>
		                    </tr>
		                    <tr v-for="(item,index) in items.productList">
		                        <td><input type="checkbox" :checked=item.isCheck :id="item.id" :value="index"
		                                @click="changeStatus(item)">
		                        </td>
		                        <td>{{ item.name }}</td>
		                        <td>{{ item.price }}</td>
		                        <td>
		                            <button @click="handleReduce(index,items)" :disabled="item.count === 1">-</button>
		                            {{ item.count }}
		                            <button @click="handleAdd(index,items)">+</button>
		                        </td>
		                        <td><button @click="handleRemove(index,items)">移除</button></td>
		                    </tr>
		                </tbody>
		            </table>
		            <div><input type="checkbox" @click="swapAllChecked" :checked="isAllChecked()">全选</div>
		            <div>总价：￥ {{ totalPrice }}</div>
		        </template>
		        <div v-else>购物车为空</div>
		    </div>
		<script src="https://unpkg.com/vue/dist/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="index.js"></script>
	</body>
</html>
