<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<!-- 复选框: -->
		<!-- 复选框也分单独使用和组合使用，不过用法稍与单选不同。复选框单独使用时，也是用v-model来绑定一个布尔值 -->
		<!-- 在勾选时，数据checked的值变为了true, label 中渲染的内容也会更新。组合使用时，也是v-model与value一起，多个勾选框都绑定到同一个数组类型的数据，value的值在数组当中，就会选中这一项。这一过程也是双向的，在勾选时，value 的值也会自动push到这个数组中，示例代码如下: -->
		<div id="app">
			<input type="checkbox" v-model="checked" value="html" id="html"/>
			<label for="html">HTML</label>
			<br>
			<input type="checkbox" v-model="checked" value="js" id="js"/>
			<label for="js">JavaScript</label>
			<br />
			<input type="checkbox" v-model="checked" id="css" value="css" />
			<label for="css">CSS</label>
			<br>
			<p>选择的是:{{checked}}</p>
		</div>
		<script src="https://unpkg.com/vue/dist/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var app = new Vue({
				el:'#app',
				data:{
					checked:['html', 'css']
				}
			})
		</script>
		
	</body>
</html>
